<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhang.com.mapper.OutsourcePersonnelInfoNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zhang.com.entity.OutsourcePersonnelInfoNew">
        <id column="tenants_no" property="tenantsNo" />
        <result column="internl_outsour_person_id" property="internlOutsourPersonId" />
        <result column="outsour_person_id" property="outsourPersonId" />
        <result column="outsour_person_name" property="outsourPersonName" />
        <result column="certfct_typ_cd" property="certfctTypCd" />
        <result column="certfct_numbr" property="certfctNumbr" />
        <result column="mobile_numbr" property="mobileNumbr" />
        <result column="email_addr" property="emailAddr" />
        <result column="edct_bkg_cd" property="edctBkgCd" />
        <result column="degree_cd" property="degreeCd" />
        <result column="gender_cd" property="genderCd" />
        <result column="birth_dt" property="birthDt" />
        <result column="internl_suplr_no" property="internlSuplrNo" />
        <result column="rank_cd" property="rankCd" />
        <result column="position_nm" property="positionNm" />
        <result column="contr_matr_dt" property="contrMatrDt" />
        <result column="employ_dept_no" property="employDeptNo" />
        <result column="employ_offc_no" property="employOffcNo" />
        <result column="employ_offc_princip_user_id" property="employOffcPrincipUserId" />
        <result column="outsour_person_employee_id" property="outsourPersonEmployeeId" />
        <result column="internl_contrct_no" property="internlContrctNo" />
        <result column="contrct_matr_dt" property="contrctMatrDt" />
        <result column="profesnl_dirct_cd" property="profesnlDirctCd" />
        <result column="post_cd" property="postCd" />
        <result column="levl_cd" property="levlCd" />
        <result column="grade_cd" property="gradeCd" />
        <result column="serv_typ_cd" property="servTypCd" />
        <result column="statng_typ_cd" property="statngTypCd" />
        <result column="offi_place_info" property="offiPlaceInfo" />
        <result column="work_statn_no" property="workStatnNo" />
        <result column="admissn_dt" property="admissnDt" />
        <result column="departr_dt" property="departrDt" />
        <result column="departr_reasn_cd" property="departrReasnCd" />
        <result column="outsour_person_status_cd" property="outsourPersonStatusCd" />
        <result column="comphsv_aprs_info" property="comphsvAprsInfo" />
        <result column="resume_file_path" property="resumeFilePath" />
        <result column="valid_flg" property="validFlg" />
        <result column="creater_id" property="createrId" />
        <result column="creater_name" property="createrName" />
        <result column="crt_tm" property="crtTm" />
        <result column="modifier_id" property="modifierId" />
        <result column="modifier_name" property="modifierName" />
        <result column="modfy_tm" property="modfyTm" />
        <result column="remrk_field_1" property="remrkField1" />
        <result column="remrk_field_2" property="remrkField2" />
        <result column="remrk_field_3" property="remrkField3" />
        <result column="remrk_field_4" property="remrkField4" />
        <result column="remrk_field_5" property="remrkField5" />
    </resultMap>

</mapper>
